:root {
    --btn-color: purple;
    --main-color: white;
    --bg-1: #8a00c2;
    --light: #10002B;

}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::after,
::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: rgba(221, 226, 255, 0.623);
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.cont_bout .text-center {
    text-align: center;
    font-size: 19px;
    color: #8a00c2;
}

.scroll {
    z-index: 9999;
    height: 5px;
    width: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: limegreen;
    animation: ghb 20s;
    animation-timeline: scroll();
    transform-origin: left;
}

@keyframes ghb {
    from {
        scale: 0 1;
    }

    to {
        scale: 1 1;
    }
}

.container {
    margin: 0 auto;
    width: 94%;

}

section {
    padding: 6rem 0;
}

.btn1 {
    padding: 10px 15px;
}

.header {

    background: var(--btn-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.right {
    display: flex;
}

.right div {
    color: var(--main-color);
    padding: 5px 5px;
    margin-left: 20px;
    border-left: 1px solid white;
    font-size: 13px;
    font-family: Arial;
    text-transform: capitalize;
}

.apply {
    color: white;
    background: red;
    border: none;
    outline: none;

    margin: 10% 0 0 0;
    cursor: pointer;
    padding: 10px 15px;
    transition: 500ms ease-in;
}

.apply:hover {
    background-color: transparent;
    border: 1px solid white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px 0 20px;
}

nav .logo {
    width: 40px;
    height: 40px;
}

.logo img {
    width: 100%;
    height: 100%;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul li {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    list-style: none;
}

ul li a {
    padding: 0 20px;
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
}

.laptop li:nth-child(2)::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: red;
    display: flex;
    margin-left: 2%;
}

#phone li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#phone {
    transition: 1.5s;
    transition-delay: 0s;
    z-index: 99;
    border-radius: 5px;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 60%;
    height: 100vh;
    flex-direction: column;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    justify-content: flex-start;
}

#phone li {
    margin-bottom: 10px;
    width: 100%;
}

#phone a {
    width: 100%;
}

#phone a:hover {
    color: #c339ffe7;
}

a:hover {
    color: #c339ffe7;
}

#phone li:nth-child(4) {
    background: rgba(0, 0, 0, 0.3);

    a {
        color: #c339ffe7;
    }
}

.cancel,
.ham {
    cursor: pointer;
    border: 0;
    outline: 0;
    font-size: 25px;
    background-color: transparent;
}

.cancel {
    margin: 15px 0 15px 30px;
}

.fab .fab_cont .card .card_card{
height: max-content;
text-align: center;
display: grid;
background-color: var(--light);
color: white;
padding: 40px 20px;
border-radius: 10px;
}
 .card .card_card_img{
    height: 300px;
    margin-inline: auto;
    border-radius: 10px;
    border: 2px solid white;
}
.card .card_card_img img{
    border-radius: 10px;
}
.card .card_card .card_contact{
    text-align: left;
}
.card .card_card .card_contact i{
color: var(--light);
background-color: rgb(143, 137, 130);
padding: 7px 7px;
border-radius: 50%;
}
.card .card_text{
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.01)0px 30px 40px -10px,
            rgba(0, 0, 0, 0.3) 0px 10px 20px -10px,
            rgba(10, 37, 64, 0.35) 0px -1px 3px 0px inset;
}
.card .card_text p{
line-height: 1.5;
}
































.admit {
    background-color: var(--light);
    height: max-content;
    padding-bottom: 0;
}

.admits {
    width: 90%;
}

.admitcard {
    margin: 0 auto;
    display: flex;
    gap: -2.5px;
    height: 230px;
    justify-content: center;
}

.admitcard .card1 {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 30px 20px;
    width: 600px;
    background-color: white;
}

.admitcard .card1 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 600;
}

.admitcard .card2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    background-color: var(--bg-1);
    justify-content: center;
    align-items: center;
    color: #000;
}

.check {
    border: none;
    background-color: white;
    padding: 10px 25px;
    border-radius: 30px;
    transition: all 400ms ease-in-out;
    box-shadow: 1px 1px 10px 1px;
}

.check:hover {
    background: #1f51f5;
}

.blue_line {
    padding: 3px;
    background-color: purple;
    border: none;
    position: relative;
    top: 60px;
}

.small {
    width: 150px;
    height: 150px;
}

.footer-u {
    margin-inline: auto;
}

.not {
    width: 95%;
    margin-inline: auto;
    border-bottom: none;
}

.hn {
    margin-inline: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    gap: 5rem;
}

.hnn p {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.admit h3 {
    margin-top: 2%;
    color: white;
    text-align: center;
}

.no {
    position: relative;
}

@media screen and (max-width:768px) {
    .container {
        width: 90%;
    }

    .laptop {
        display: none;
    }

    .header {
        display: none;
    }

    .hn {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner_txt h1 {
        font-size: 35px;
    }

    .admitcard {
        flex-direction: column;
    }

    .admitcard .card1 {
        width: auto;
    }

    .admitcard .card2 {
        width: 100%;
        height: 60px;
    }

    .eachs {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .prop .prop_cont .prop_card {
        grid-template-columns: 1fr;
    }
}



@media screen and (max-width:1024px) {
    .container {
        width: 88.5%;
    }

    .laptop {
        display: none;
    }

    .header {
        display: none;
    }


}

@media screen and (min-width:1024px) {
    .cont_bout {
        width: 80%;
    }

    .logo img {
        width: 70px;
        height: 70px;
    }

    .laptop {
        margin-top: 15px;
    }

    .ham {
        display: none;
    }

    .first {
        height: 50vh;
    }
.card{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 1rem;
}
.card .card_card {
    order:2 ;
}
.card .card_text{
grid-column: 1/4;
}

}



@media screen and (max-width:600px) {

    .container {
        margin: 0 auto;
        width: 94%;
    }

    .admitcard .card1 h1 {
        text-align: center;
    }

}



@media screen and (min-width:2560px) {
    .container {
        width: 70%;
    }

}

@media (max-width:384px) {}